@charset "utf-8";
.ital {
    font-style: italic;
}
.filmStill {
    width: 400px;
    border-style: solid;
}
.filmInfo {
    max-width: 1200px;
    max-height: 1200px;
    border-style: solid;
}

.sideBySide {
    display: flex;
}
